@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* definição de variaveis */
:root {
    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6; 
    --cor-terciaria: #22d4df;
    --cor-hover: #272727;
    --fonte-principal: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}


/* Reset de padrões */
* {

    margin: 0;
    padding: 0;

}

.cabecalho {
    padding: 5% 0% 0% 10%;
}

.cabecalho__menu {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600px;
    color: var(--cor-terciaria);
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600px;
    color:var(--cor-terciaria);
    text-decoration: none;
}
   


/* clase criada para organizar o texto na tela*/
.apresentacao {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5% 10%;
    gap: 82px;
/* pode ser marging no lugar do padding */
}

body {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    /* height: 100vh; */
    box-sizing: border-box;
    /* box-sizing, faz a adaptaçaõ do conteudo a tela*/
}
.imagem {
    width: 50%;
    border-radius: 15px;
}

.imagem:hover {
    /* width: 45%; */
    cursor: not-allowed;

}

.apresentacao__esquerda {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.apresentacao__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-principal);

}
.apresentacao__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    text-align: justify;
}

.apresentaçao__botoes__titulo {
    font-size: 1.5rem;
    font-family: var(--fonte-principal);
    font-weight: 400;

}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.apresentacao__botoes {
    /*background-color: #22d4df;
    
    */
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 21.5px 0px;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    border: 2px solid var(--cor-terciaria);
    display: flex;
    justify-content: center;
    gap: 16px;
}

.apresentacao__botoes:hover {
    background-color: var(--cor-hover);
   /* width: 500px;*/
}

strong {
    color: var(--cor-secundaria);

}

.destaque-titulo {

    color:var(--cor-terciaria);
}

.rodape {
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 23.64px;
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    text-align: center;
    font-weight: 400px;

}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 5%;
    }
    .cabecalho__menu {
        justify-content: center;

    }
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao__esquerda {
        width: auto;
    }

}


/* caixa ao redor do texto */
/*span{
            color: #22d4df;
            border: 1px solid #22fd6b;
            padding: 10px;
}
*/

/* 1 ren = 16 pixels */